<div class="row clearfix">
    <div class="col-lg-5">
        <div>
            <h2>{{title}}</h2>
        </div>
        <p>{{subtitle}}</p>
    </div>
    <div class="col-lg-7">
        <div>
            <img src="{{description}}" alt="">
        </div>
    </div>
    
</div>

<div class="row ">
<div class="col-md-5 top-buffer">
    <p>Sort Type: {{ sortType }}</p>
    <input type="text" ng-model="productFilter" class="form-control" value="">    
</div>
    <div class="col-md-12 ">
    <table class="table table-hover">
        <tr>
            <td ng-click="orderByField='id'; reverseSort = !reverseSort"><strong>Id</strong></td>
            <td ng-click="orderByField='productName'; reverseSort = !reverseSort"><strong>Name</strong></td>
            <td ng-click="orderByField='productCode'; reverseSort = !reverseSort"><strong>Product Code</strong></td>
            <td ng-click="orderByField='description'; reverseSort = !reverseSort"><strong>Description</strong></td>
            <td ng-click="orderByField='cost'; reverseSort = !reverseSort"><strong>Cost</strong></td>
            <td><strong>Event</strong></td>
        </tr>
        <tr ng-repeat="list in data | orderBy:orderByField:reverseSort">
            <td>{{list.id}}</td>
            <td>{{list.productName}}</td>
            <td>{{list.productCode}}</td>
            <td>{{list.description}}</td>
            <td>{{list.cost}}</td>
            <td><button type="button" class="btn btn-danger" ng-click="remove($index)">delete</button></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" ng-model="data_id"></td>
            <td><input type="text" class="form-control" ng-model="data_productName"></td>
            <td><input type="text" class="form-control" ng-model="data_productCode"></td>
            <td><input type="text" class="form-control" ng-model="data_description"></td>
            <td><input type="text" class="form-control" ng-model="data_cost"></td>
            <td><button type="button" class="btn btn-info" ng-click="add()">Add</button></td>
        </tr>
    </table>
        
    </div>
</div>
