<h4>Movie Details</h4>
<div class="row">
    <div class="col-md-6">
        <img class="img-polaroid" alt="movie-poster" src="{{movieDetails.Poster}}" width="300" height="400" />
    </div>
    <div id="info-column" class="col-md-6">
        <div><span class="title">Title: </span>{{movieDetails.Title}}</div>
        <div><span class="title">Year: </span>{{movieDetails.Year}}   Rated: {{movieDetails.Rated}}</div>
        <div><span class="title">Released: </span>{{movieDetails.Released}}</div>
        <div><span class="title">Runtime: </span>{{movieDetails.RUntime}}</div>
        <div><span class="title">Actors: </span>{{movieDetails.Actors}}</div>
        <div><span class="title">Awards: </span>{{movieDetails.Awards}}</div>
        <div><span class="title">Country: </span>{{movieDetails.Country}}</div>
        <div><span class="title">Genre: </span>{{movieDetails.Genre}}</div>
        <div><span class="title">Language: </span>{{movieDetails.Language}}</div>
        <div><span class="title">Plot: </span>{{movieDetails.Plot}}</div>
    </div>
</div>
