<!DOCTYPE html>
<html>
<head>
    <title>OMDB Api Client</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" type="text/javascript"></script>
    <script src="scripts/app.js" type="text/javascript"></script>
    
    <script src="scripts/controllers/movieController.js" type="text/javascript"></script>
</head>
    <body>
        <div class="container">
        <div id="wrapper" ng-app="imdbApp">
            <div ng-controller="movieController" class="container-fluid">
                <h3>OMDB (IMDB) Api client</h3>
            <div class="row">
            <div class="col-md-12">
                <div class="search-container row-fluid">
                    <div class="span3">
                        <form class="form form-search">
                            <input class="input-large" type="text" ng-model="query" />
                            <button class="btn btn-default" ng-click="searchIMDB()">Search</button>
                        </form>
                    </div>
                    <div class="span9">
                        <label id="filter-year">Filter by year</label>
                        <select id="filter-select" class="form-control" ng-model="selectedYear" ng-options="movie.Year for movie in movies"></select>
                    </div>
                </div>
             </div>   
             </div>
             <div class="row">
             
                    <div id="results-container" class="col-md-4" ng-include src='"./partials/results.html"' ng-show="showMovieResults">
                    </div>
                    <div id="details-container" class="col-md-8" ng-include src='"./partials/details.html"' ng-show="showMovieDetails">
                    </div> 
            </div>
            </div>
                <div id="error-container">
                    <span>{{error}}</span>
                </div>
            </div>
        </div>
        </div>
    </body>
</html>
